@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Bungee+Tint&family=Cinzel:wght@400..900&family=Gravitas+One&family=Poiret+One&family=Righteous&family=Spicy+Rice&family=Yellowtail&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

.mdb-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #0d0d0d;
  color: white;
}

.gradient-title {
  font-weight: bold;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #ff214f, #ff6b6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
